certifi==2020.6.20
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
dataclasses==0.7
h5-to-json==0.1.5
h5json==1.1.3
h5py==2.10.0
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
mkl-fft==1.2.0
mkl-random==1.1.0
mkl-service==2.3.0
numexpr==2.7.1
numpy==1.18.4
olefile==0.46
pandas @ file:///tmp/build/80754af9/pandas_1602088135163/work
Pillow @ file:///tmp/build/80754af9/pillow_1602788709045/work
protobuf==3.13.0
pymongo==3.10.1
python-dateutil==2.8.1
pytz==2020.1
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1598379690588/work
scipy @ file:///tmp/build/80754af9/scipy_1597686625380/work
six==1.14.0
skorch @ file:///home/conda/feedstock_root/build_artifacts/skorch_1591873157816/work
tables==3.6.1
tabulate==0.8.7
tensorboardX @ file:///home/conda/feedstock_root/build_artifacts/tensorboardx_1594067496847/work
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
torch==1.7.0
torchvision==0.8.1
tqdm @ file:///tmp/build/80754af9/tqdm_1602185206534/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work