blas>=1.0
ca-certificates>=2020.10
certifi>=2020.6
cloudpickle>=1.5
cudatoolkit>=11.0
cycler>=0.10
dataclasses>=0.7
dbus>=1.13
expat>=2.2
fontconfig>=2.13
freetype>=2.10
intel-openmp>=2020.0
joblib>=0.17
glib>=2.56
gst-plugins-base>=1.14
gstreamer>=1.14
icu>=58.0
jpeg>=9b
kiwisolver>=1.2
lcms2>=2.0
ld_impl_linux-64>=2.33
libedit>=3.1
libffi>=3.0
libgcc-ng>=9.1
libgfortran-ng>=7.3
libpng>=1.6
libprotobuf>=3.13
libstdcxx-ng>=9.1
libtiff>=4.1
libuuid>=1.0
libuv>=1.40
libxcb>=1.14
libxml2>=2.9
lz4-c>=1.9
matplotlib>=3.3
matplotlib-base>=3.3
mkl>=2019.0
mkl-service>=2.3
mkl_fft>=1.2
mkl_random>=1.1
ncurses>=6.0
ninja>=1.10
numpy>=1.19
numpy-base>=1.19
olefile>=0.46
openssl>=1.1
pandas>=1.1
pillow>=8.0
pcre>=8.44
pip>=20.0
protobuf>=3.13
pyparsing>=2.4
pyqt>=5.9
python~=3.8
python-dateutil>=2.8
python_abi>=3.8
pytorch>=1.7
pytz>=2020.1
qt>=5.9
readline>=8.0
regex>=2020.10
scikit-learn>=0.23
scipy>=1.5.0
setuptools>=38.3
six>=1.15
sip>=4.19
skorch==0.8
sqlite>=3.33
tabulate>=0.8
tensorboardx>=2.1
threadpoolctl>=2.1
tk>=8.6
torchvision>=0.8
tornado>=6.0
tqdm>=4.51
wheel>=0.35
xz>=5.2
zlib>=1.2
zstd>=1.4